<h1 style="color:blue; font-size: 50px; text-align center;">Photos</h1>

<table>
    <tr>
        <th>Author Name</th>
        <th>Texts URL</th>
        <th>Title</th>
        <th>Caption</th>
        <th>Created</th>
        <th></th>
    </tr>

    <% @texts.each do |photo| %>
    <tr style="text-align: center;">
        <td><%= text.author_name %></td>
        <td><%= text.title %></td>
        <td><%= text.caption %></td>
        <td><%= text.created_at %></td>
        <td><p><%= link_to 'SHOW', text_path(text) %></p>
        <p><%= link_to 'EDIT', edit_text_path(text) %></p>
        <p><%= link_to 'DELETE', text_path(text),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></p></td>
    </tr>
    <% end %>
</table>