<h1>Profile</h1>

<table>
  <tr>
    <th>Title</th>

    <th>By:  </th>
    <th></th>
  </tr>

  <% @profiles.each do |profile| %>
    <tr>
      <td><%= profile.title %></td>

      <td><%= profile.author_name %></td>
      <td><%= link_to 'Show', profile_path(profile) %></td>
      <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
      <td><%= link_to 'Destroy', profile_path(profile),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  <%= link_to 'New profile', new_profile_path %>
</table>