<div class="container-fluid">
  <div class="container mx-auto text-center">
    <h1>EDIT</h1>
    <%= form_with model: @comment, url: entry_comment_path, local: true do |form|  %>
      <p>
        <%= form.label :content %><br>
        <%= form.text_area :content %>
      </p>
      <%#= form.hidden_field :entry_id, value: @entry.id  %>
      <p>
        <%= form.submit %>
      </p>
    <% end %>
    <%= link_to 'Back', entries_path %>
  </div>
</div>
