<!-- <h1>hello world</h1> -->

<%= link_to 'New instagram', new_instagram_path %>

<h1>Listing Photo Feeds </h1>

<table>
  <tr>
    <th>Entry Id</th>
    <th>Comment</th>
    <th></th>
  </tr>

  <% @comment.each do |comment| %>
    <tr>
      <td><%= comment.entry_id %></td>
       <td><%= comment.comment %></td>
      <td><%= link_to 'Show', comment_path(comment) %></td>
      <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
      <td><%= link_to 'Destroy', comment_path(comment),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'My Comment', controller: 'comments' %>

<%= form_with scope: :comment, url: comments_path, local: true do |form| %>
  ...
<% end %>
