<%= form_with scope: :comment, url: comments_path, local: true do |form| %>

  <%= form.collection_select :wdinstagram_id, @wdinstagram, :id, :author %>

  <p>
    <%= form.label :comment %><br>
    <%= form.text_area :comment %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>