<%= form_with scope: :comment, url: comments_path, local: true do |form| %>

    <%= form.collection_select :post_id, @posts, :id, :title %>
  
    <p>
      <%= form.label :comment %><br>
      <%= form.text_area :comment %>
    </p>
  
    <p>
      <%= form.submit %>
    </p>
  <% end %>