<div class="container">
<%= form_with scope: :comment, url: comments_path, local: true do |form| %>
  <%= form.collection_select :entry_id, @entries, :id, :name %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_area :description %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
</div> 