<%= form_with scope: :comment, url: comments_path, local: true do |form| %>

  <%= form.collection_select :post_id, @posts, :id, :author %> 

  <p>
    <%= form.label :username %><br>
    <%= form.text_area :username, value: @username %>
  </p>
    
  <p>
    <%= form.label :userid %><br>
    <input name="userid" value=<%= current_user.id %>>
  </p>

  <p>
    <%= form.label :comment %><br>
    <%= form.text_area :comment %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>