<!-- WHAT THE HELL IS URL? -->
<%= form_with scope: :comment, url: article_comments_path, local: true do |form| %>

	<p>
		<h3>New comment</h3>

		<%= form.label :usercomment %><br>
		<%= form.text_field :usercomment %>
	</p>

		<!-- WTF IS THIS SHIT? -->
		<%= form.hidden_field :article_id, value: @article.id  %>

	<p>
		<!-- HOW COME IT SAYS SAVE COMMENT? -->
		<%= form.submit %>
	</p>

<% end %>

<%= link_to 'Back', articles_path %>

