<%= form_with scope: :comment, url: comments_path, local: true do |form| %>
  <p>
    <%= form.label :Comment %><br>
    <%= form.text_field :comment %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', comments_path %>