<h1>WDInstagram</h1>

<p><%= link_to 'New Post', new_entry_path %></p>

<div class="row">
<% @entries.each do |entry| %>
	<div class="col-12 col-md-4 col-lg-3">
		<div class="card">
			<img class="card-img-top" src="<%= entry.photo_url %>">
			<p><%= entry.caption %></p>
			<p>By: <%= entry.author %></p>
			<p>Date: <%= entry.date.localtime.to_date.to_s(:rfc822) %></p>
			<p>Comments: <%= entry.comment.length %></p> 
			<p>
				<%= link_to 'Show', entry_path(entry) %>
				<%= link_to 'Edit', edit_entry_path(entry) %>
				<%= link_to 'Delete', entry_path(entry),
					method: :delete,
					data: { confirm: 'Are you sure?' } %>
			</p>
		</div>
	</div>
<% end %>
</div>
