<h1>Photo Entries</h1>

<table>
  <% @entries.each do |entry| %>
    <tr>
      <td><%= entry.author %></td>
      <td><%= link_to image_tag(entry.photo_url, style: 'height: 150px'), entry_path(entry) %><td>
      <td><%= entry.date_taken %></td>
      <td><%= link_to 'Show', entry_path(entry) %></td>
      <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
      <td><%= link_to 'Destroy', entry_path(entry),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></td>
      <td><strong>Comments:</strong></td>
			<td><%= entry.comments.length %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New Hashtag', new_hashtag_path %>
<%= link_to 'Show Hashtags', hashtags_path %>
<%= link_to 'New Entry', new_entry_path %>
<%= link_to 'My Blog', controller: 'entries' %>
