<%= image_tag @entry.photo_url, style:'height: 300px;' %>
<%= link_to 'Back', entries_path %>
<%= link_to 'Edit', edit_entry_path(@entry) %>
<p>
  <strong>Author:</strong>
  <%= @entry.author %>
</p>

<p>
  <strong>Photo_url:</strong>
  <%= @entry.photo_url %>
</p>

<p>
  <strong>Date Taken:</strong>
  <%= @entry.date_taken %>
</p>

<p>
  <strong>Hashtags:</strong>
  <% @hashtags.each do |hashtag| %>
    <tr><%= hashtag.text %></tr>
  <% end %>
</p>



<strong>Comments:</strong><br>
<% @comments.each do |comment| %>
        <tr><%= comment.text %></tr>
        <%= link_to 'Edit', edit_comment_path(comment) %>
        <%= link_to 'Delete', comment_path(comment), method: :delete, data: {confirm: 'Are you sure?'} %> <br>
<% end %>



<%= form_with scope: :comment, url: comments_path, local: true do |form| %>
  <%= form.hidden_field :entry_id, value: @entry.id %>
  <p>
    <%= form.label :comments %><br>
    <%= form.text_area :text %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
