
<%= link_to 'Back', entries_path %>
<%= link_to 'Edit', edit_entry_path(@entry) %>
<p>
  <strong>Author:</strong>
  <%= @entry.author %>
</p>

<p>
  <strong>Photo_url:</strong>
  <%= @entry.photo_url %>
</p>

<p>
  <strong>Date Taken:</strong>
  <%= @entry.date_taken %>
</p>


<p>Comments: </p>
<% @comments.each do |comment| %>
        <p><%= comment.text %></p>
<% end %>

<%= form_with scope: :comment, url: comments_path, local: true do |form| %>
  <%= form.hidden_field :entry_id, value: @entry.id %>

  <p>
    <%= form.label :comments %><br>
    <%= form.text_area :text %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
