<div class="container-fluid mt-3">
<h1> POST #<%= @entry.id %> </h1>
 	<%= cl_image_tag(@entry.photo_url, :width => 300, :height => 300) %>
 	<br/>
 	<sub>Caption: <%= @entry.caption %></sub>
<p>
  <strong>Name:</strong>
  <%= @entry.author %>
</p>

<p>
  <strong>Photo URL:</strong>
  <%= @entry.photo_url %>
</p>
	<strong>List of hashtags</strong>
	<ul>
		<% @hashtags.each do |hashtag| %>
				<li><%= hashtag.name %></li>
		<% end %>
	</ul>
<p>

</p>

<p>
  <h3>Comments:</h3>
  <% @comment.each do |comment| %>
  		<%= comment.commentContent %>
  		<br/>
			<%= link_to 'Edit', edit_entry_comment_path(@entry, comment) %>
			<%= link_to 'Delete', comment_path(comment),
      method: :delete,
      data: { confirm: 'Are you sure?' } %>
      <br/>
	<% end %>
</p>



	<h3> Create Comments</h3>
	<%= form_with scope: :comment, url: comments_path, local: true do |form| %>
	  <p>
	    <%= form.label :comment %><br/>
	    <%= form.text_area :commentContent %>
			<%= form.hidden_field :entry_id, value:@entry.id %><br/>
			<%= form.submit %>
	  </p>
	​

	<% end %>
</div>