<%= link_to 'Home', root_path %>

<%= form_with scope: :article, url: articles_path, local: true do |form| %>
  <p>
    <%= form.label :author %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :photo %><br>
    <%= form.file_field :image %>
  </p>

  <p>
    <%= form.label :caption %><br>
    <%= form.text_area :text %>
  </p>


  <p>
    <%= form.submit %>
  </p>
<% end %>