<p>
  <strong>Author:</strong>
  <%= @article.author %>
</p>

<p>
  <strong>Photo:</strong>
  <img src="#{@article.photo_url}">
  <!-- , width="500" , height="400"> -->
  <%= @article.photo_url %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @article.caption %>
</p>

<p>
  <strong>Date taken:</strong>
  <%= @article.date_taken %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %>
<%= link_to 'Back', articles_path %>

