<p>
   <strong>Author:</strong>
   <%= @articles.author %>
 </p>

 <p>
   <strong>photo URL:</strong>
   <%= @articles.photo_url %>
 </p>

 <p>
   <strong>Title:</strong>
   <%= @articles.title %>
 </p>

 <%= link_to 'Back', article_path %>
 <%= link_to 'Edit', edit_article_path(@article)%>