<%= link_to 'Home', root_path %>

<div class="container">

  <h3>
    <!-- <strong>Title:</strong> -->
    <%= @article.title %>
  </h3>

  <p>
    <!-- <strong>Text:</strong> -->
    <%= @article.created_at %>
  </p>

  <div class="image">
    <!-- <strong>Text:</strong> -->
    <%= image_tag(@article.image, style:'width: 100%') %>
  </div>

  <p>
    <!-- <strong>Text:</strong> -->
    <%= @article.text %>
  </p>

  <%= link_to 'Edit', edit_article_path(@article) %>
  <%= link_to 'Destroy', article_path(@article),
        method: :delete,
        data: { confirm: 'Are you sure?' } %>

</div>

<br/>