<p>
  <strong>Author:</strong>
  <%= @wdinstagram.author %>
</p>

<p>
  <strong>Photo URL:</strong>
</p>
<p><%=image_tag @wdinstagram.photo_url, width: "50%", height:"50%" %></p>

<p>
  <strong>Photo Taken:</strong>
  <%= @wdinstagram.date_taken %>
</p>

<%= link_to 'Back', wdinstagrams_path %>
<%= link_to 'Edit', edit_wdinstagram_path(@wdinstagram)%>