<h1>WOW, SELFIES</h1>

<%= link_to 'Upload new selfie!', new_selfy_path %>

<table>
  <tr>
  	<th>Author</th>
    <th>Title</th>
    <th>URL</th>
    <th>Caption</th>
    <th>Created at</th>
    <th></th>
  </tr>

  <% @selfies.each do |selfy| %>
    <tr>
    	<td><%= selfy.author_name %></td>
      <td><%= selfy.title %></td>
      <td><%= selfy.url %></td>
       <td><%= selfy.caption %></td>
       <td><%= selfy.created_at %></td>
      <td><%= link_to 'Show', selfy_path(selfy) %></td>
       <td><%= link_to 'Edit', edit_selfy_path(selfy) %></td>
        <td><%= link_to 'DESTROY', selfy_path(selfy), method: :delete, data:{confirm: 'Delete selfie FOREVER?'} %></td>
    </tr>
  <% end %>
</table>