<%= form_for @video, scope: :video, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :author %><br>
    <%= form.text_field :author_name %>
  </p>

  <p>
    <%= form.label :video %><br>
    <%= form.text_field :video_url %>
  </p>

  <p>
    <%= form.label :caption %><br>
    <%= form.text_field :caption %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
<%= link_to 'Back', videos_path %>
