<h1>Edit Video</h1>

<%= form_with scope: :video, model: @video, local: true do |form| %>

  <p>
    <%= form.label :Title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :Author %><br>
    <%= form.text_field :author_name %>
  </p>
  <p>
    <%= form.label :Video %><br>
    <%= form.text_field :video_url %>
  </p>
  <p>
    <%= form.label :Caption %><br>
    <%= form.text_field :caption %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>

<%= link_to 'Back', root_path %>