<h1>Edit video</h1>

<%= form_with scope: :video, model: @video, local: true do |form| %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :author_name %><br>
    <%= form.text_area :author_name%>
  </p>

  <p>
    <%= form.label :video_url %><br>
    <%= form.text_area :video_url, :cols => 60, :rows => 1 %><br>
    <%= image_tag "#{@video.video_url}" %>
  </p>

  <p>
    <%= form.label :caption %><br>
    <%= form.text_area :caption, :cols => 80, :rows => 10 %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>

<%= link_to 'Back', root_path %>