<%= form_with scope: :video, url: videos_path, local: true do |form| %>
  <p>
    <%= form.label :author_name %><br>
    <%= form.text_field :author_name %>
  </p>

  <p>
    <%= form.label :media %><br>
    <%= form.text_field :media %>
  </p>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

   <p>
    <%= form.label :caption %><br>
    <%= form.text_area :caption %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>