<%= form_with scope: :video, url: videos_path, local: true do |form| %>
  <p>
    <%= form.label :author_name, 'Author Name' %><br>
    <%= form.text_field :author_name %>
  </p>

  <p>
    <%= form.label :video_url, 'Video' %><br>
    <%= form.text_field :video_url, :value => "https://www.youtube.com/embed/1FbCt_4vuak"  %>
  </p>

  <p>
    <%= form.label :title, 'Title' %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :caption, 'Caption' %><br>
    <%= form.text_field :caption %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>



<br/>

<%= link_to 'Back', root_path %>