<h1>Show video post</h1>

<p>
  <strong>Author Name:</strong>
  <%= @video.author_name %>
</p>

<p>
  <strong>YouTube Video</strong>
  <br>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/1FbCt_4vuak" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>

<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @video.caption %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %>
<%= link_to 'Back', root_path %>