<h1>Edit photo</h1>

<%= form_with scope: :photo, url: photos_path, local: true do |form| %>
  <p>
    <%= form.label :author %><br>
    <%= form.text_field :author %>
  </p>

  <p>
    <%= form.label :url %><br>
    <%= form.text_field :url %>
  </p>

  <p>
    <%= form.label :date%><br>
    <%= form.text_field :date %>
  </p>

  <p>
    <%= form.label :comments %><br>
    <%= form.text_field :comments %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>

<%= link_to 'Back', photos_path %>