<h1>Edit Photo</h1>

<%= form_with model: @photo, local: true do |form| %>
  <p>
    <%= form.label :author %>
    <%= form.text_field :author %>
  </p>

  <p>
    <%= form.label :photo_url %>
    <%= form.url_field :photo_url %>
  </p>

  <p>
    <%= form.label :date_taken %>
    <%= form.datetime_field :date_taken %>
  </p>

  <p>
    <%= form.label :caption %>
    <%= form.text_area :caption %>
  </p>

  <%= form.submit %>
<% end %>

<%= link_to 'Back', photo_path %>
