<h1>All photos</h1>

<table>
  <tr>
    <th>Title</th>
  </tr>

  <% @photos.each do |photo| %>
    <tr>
      <td><%= photo.title %></td>
      <td><%= link_to 'Show', photo_path(photo) %></td>
      <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
      <td><%= link_to 'Destroy', photo_path(photo),
        method: :delete
        # ,
        # data: { confirm: 'Are you sure?' } 

        %></td>
    </tr>
  <% end %>
</table>
<br/>
<%= link_to 'Create new photo', new_photo_path %>

