<%= image_tag @photo.photo_url, style:'height: 300px;' %>
<p>
  <%= @photo.caption %>
</p>

<p>
  <strong>Author:</strong>
  <%= @photo.author %>
</p>

<p>
  <strong>Date taken:</strong>
  <%= @photo.date_taken %>
</p>

<%= link_to 'Edit', edit_photo_path %>
<%= link_to 'Delete', photo_path,
    method: :delete,
    data: {confirm: 'Are you sure?'} %>
<%= link_to 'Back', photos_path %>

<%= form_with scope: :comment, url: comments_path, local: true do |form| %>
	<%= form.hidden_field :photo_id, :value => @photo.id %>
	<p>
		<%= form.label :text %>
		<%= form.text_area :text %>
	</p>

	<p>
		<%= form.submit %>
	</p>
<% end %>

<% @comments.each do |comment| %>
	<p><%= comment.text %></p>
<% end %>
