<div class = "container">
    <p>
    <strong>Author:</strong>
    <%= @photo.author %>
    </p>

    <p>
    <%= image_tag @photo.photo_url %>
    </p>

    <p>
    <strong>Caption:</strong>
    <%= @photo.caption %>
    </p>

    <p>
    <strong>Comments:</strong>
    </p>
    
    <% @photo.comments.last(3).each do |comment| %> 
    <p>
    <%= comment.comment %>
    <button><%= link_to 'Edit Comment', edit_photo_comment_path(photo_id: @photo, id: comment) %></button>
    <button><%= link_to 'Delete Comment', photo_comment_path(@photo, comment), method: :delete, data: { confirm: 'Are you sure?' } %></button>
    </p>
    <% end %>

    <p>
    <button><%= link_to 'Edit Photo', edit_photo_path(@photo) %></button>
    <button><%= link_to 'Delete Photo', photo_path(@photo), method: :delete, data: { confirm: 'Are you sure?' } %></button>
    </p>

    <p>
    <button><%= link_to 'New Comment', new_photo_comment_path(@photo) %></button>
    </p>

</div>    