<%= form_for @post, scope: :post, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :author %><br>
    <%= form.text_field :author_name %>
  </p>

  <p>
    <%= form.label :photo %><br>
    <%= form.text_field :photo_url %>
  </p>

  <p>
    <%= form.label :caption %><br>
    <%= form.text_field :caption %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
<%= link_to 'Back', posts_path %>
