<html>
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <style>
      body {
       font-family: 'Open Sans', sans-serif;
      }
    </style>
  </head>
  <body>
    <%= link_to 'New Post', new_post_path %>
    <h1>Edit Post</h1>
    <%= form_with scope: :post, model: @post, local: true do |form| %>
      <p>
        <%= form.label :title %><br>
        <%= form.text_field :title %>
      </p>
      <p>
        <%= form.label :author_name, "Author Name" %><br>
        <%= form.text_field :author_name %>
      </p>
      <p>
        <%= form.label :post_content, "Post Content" %><br>
        <%= form.text_area :post_content, placeholder: "Image URL/ Video URL/ Text", rows: "4" %>
      </p>
      <p>
        <%= form.label :caption %><br>
        <%= form.text_area :caption, rows: "4" %>
      </p>
      <p>
        <%= form.submit "Edit Post" %>
      </p>
    <% end %>
    <%= link_to 'Back', root_path %>
  </body>
</html>
