<h1>Edit your post</h1>

<%= form_with scope: :post, model: @post, local: true do |form| %>
    <p>
        <%= form.label :username %><br>
        <%= form.text_field :username %>
    </p>

    <p>
        <%= form.label :title %><br>
        <%= form.text_field :title %>
    </p>

    <p>
        <%= form.label :photo %><br>
        <%= form.text_field :photo_url %>
    </p>

    <p>
        <%= form.submit %>
    </p>

<% end %>

<%= link_to 'Back', root_path %>



