
<div class = "justify-content-around row align-items-end">

	<p><%= link_to 'New Photo', new_post_path %></p>
	<h1><a href = <%=root_path %>>Vibeygrammmm</a></h1>
	<p><%= link_to 'New Video', new_video_path %></p>
</div>

 <div class = "row justify-content-center my-5">
 	<div class = "column">
            <img class = "single-thumbnail" src = <%= @post.photo_url %>>
        </div>
  <div class = "column ml-5">

<%= form_with scope: :post, model: @post, local: true do |form| %>

	<p>
    <%= form.label :Author%><br>
    <%= form.text_field :author_name %>
  </p>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :caption %><br>
    <%= form.text_area :caption %>
  </p>



  <p>
    <%= form.label :'photo Link' %><br>
    <%= form.text_area :photo_url %>
  </p>


  <p>
    <button type = "submit" class="btn btn-primary" >Update</button>
  </p>

<% end %>
<p><%= link_to 'Delete Post', post_path(@post),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></p>
   </div>

</div>