<h1>Edit Post</h1>
<%= @post.name %>

<%= form_with scope: :post, model: @post, local: true do |form| %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :photo_url %><br>
    <%= form.text_area :photo_url %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>