<div class="container text-center">

	<h1>Edit Post</h1>

	<%= form_with scope: :post, model: @post, local: true do |form| %>

  	<p>
	    <%= form.label :title %><br>
	    <%= form.text_field :title %>
	  </p>

	  <p>
	    <%= form.label :author_name %><br>
	    <%= form.text_field :author_name %>
	  </p>

	  <p>
	    <%= form.label :type_of_media %><br>
	    <%= form.radio_button :mediatype, 'photo' %> Photo<br />
	  	<%= form.radio_button :mediatype, 'video' %> Video<br />
	  	<%= form.radio_button :mediatype, 'text' %> Text<br />
	  </p>

	  <p>
	    <%= form.label :media_link_or_text %><br>
	    <%= form.text_area :photo_url %>
	  </p>

	  <p>
	    <%= form.label :caption %><br>
	    <%= form.text_area :caption %>
	  </p>



	  <p>
	    <%= form.submit %>
	  </p>

<% end %>

<%= link_to 'Back', root_path %>