<h1>Edit Post</h1>

<%= form_with scope: :post, model: @post, local: true do |form| %>

  <p>
    <%= form.label :author_name %><br>
    <%= form.text_field :author_name%>
  </p>

  <p>
    <%= form.label :post_url %><br>
    <%= form.text_area :post_url%>
  </p>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title%>
  </p>

  <p>
    <%= form.label :caption %><br>
    <%= form.text_area :caption,%>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>

<h3><%= link_to 'BACK TO MAIN PAGE', root_path %></h3>