<h1>Edit Post</h1>

<%= form_for :post, url: post_path(@post), method: :patch do |form| %>
	<p>
		<%= form.label :title %><br>
		<%= form.text_field(:title, {:class => 'form-control'}) %>
	</p>

	<p>
		<%= form.label :url %><br>
		<%= form.text_field(:url, {:class => 'form-control'}) %>
	</p>

	<p>
		<%= form.label :date %><br>
		<%= form.text_field(:date, {:class => 'form-control'}) %>
	</p>

	<p>
		<%= form.label :description %><br>
		<%= form.text_area(:description, {:class => 'form-control'}) %>
	</p>

	<p>
		<%= form.submit({:class => 'btn btn-primary'}) %>
	</p>
<% end %>