<h1>WDInstagram</h1>

<p><%= link_to 'Create New Post', new_post_path %></p>


<div class="main-container">

	<% @posts.each do |post| %>
		<div class="post-container">
			  <h1><%= post.title %></h1>
			  <div class="photo-container">
			  	<%= image_tag post.photo_url %>
			  </div>
			  <h2>posted by: <%= post.author_name %></h2>
			  <p><%= link_to 'View Post', post_path(post) %></p>
		</div>
	<% end %>

</div>