
<% @posts.each do |element| %>
<div class="myPosts">
<h3><%= element.title %></h3>

<figure>
<%= image_tag element.url, :height => '250px', :width => '250px' %>
<figcaption><%= element.description %></figcaption>
</figure>


<p><%= element.created_at %></p>

<%= link_to "Select post", post_path(element), :class => 'btn btn-default' %>
</div>


<% end %>






