<h1>WDInstagram</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Caption</th>
    <th>Post</th>
    <th>Author</th>
    <th></th>
  </tr>

<form action="/">
	<select name="sort_by" id="sort_by">
    <option value="desc">Latest Posts</option>
    <option value="asc">Oldest Posts</option>
  </select>
  <button type="submit">Sort By</button>
</form>&nbsp&nbsp
<%= link_to 'New post', new_post_path %>

  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.caption %></td>
      <td><img src= <%= post.photo_url %> height="200"/></td>
      <td><%= post.author_name %></td>
      <td><%= link_to 'Show', post_path(post) %></td>
      <td><%= link_to 'Edit', edit_post_path(post) %></td>
      <td><%= link_to 'Destroy', post_path(post),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>