<h1>Welcome to Rubified Instagram</h1>

<%= link_to 'New Post', new_post_path %>

<p>
</p><table>
	<tr>
		<th>Title</th>
		<th>Author</th>
            <th>View</th>
                        <th>Edit</th>

	</tr>

	<% @posts.each do |post| %>
		<tr>
			<td> <%= post.title %> </td>
			<td> <%= post.author_name %> </td>
                  <td> <%= link_to 'View Post', post_path(post) %>  </td>
                  <td><%= link_to 'Edit Post', edit_post_path(post) %></td>
                  <td><%= link_to 'Delete Post', post_path(post),
                  method: :delete,
                  data: { confirm: 'Are you sure you want to delete this post?'} %></td>

		</tr>
      <% end %>      
</table>

