


<%= link_to 'New Post', new_post_path,class:"btn btn-light" %>
<br/>
<br/>
<%= form_tag(posts_path, method: "get") do %>
    <%= select_tag(:sort_type, options_for_select(["Select a sort type",['Date Asc','date_asc'],['Date Desc','date_desc']]), :onchange=>'this.form.submit();',class:"form-control" ) %>
<%end%>
<br/>
<br/>

<% @posts.each_with_index do |post,index| %>

    <div class="card card-modifier" >

        <div class="card-header card-header-modifier">
            <%= post.author_name %>
            <div class="time-ago"><%= @converted_time[index]%></div>
        </div>
        <%= image_tag(post.photo_url, class: "card-img-top card-img-modifier") %>

        <div class="card-body">
            <h5 class="card-title"><%= post.title %></h5>
              <footer class="blockquote-footer"><%= post.caption %></footer>
            <p class="card-text"></p>
        </div>
        <div class="card-footer">
            <%= link_to 'Show',post_path(post),class:"card-link" %>
            <%= link_to 'Edit', edit_post_path(post),class:"card-link" %>
            <a class="card-link" href="#"data-toggle="modal" data-target="#exampleModal">Delete</a>

        </div>
        <!-- Button trigger modal -->


        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                You sure you want to delete this post?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <%= link_to 'Yes', post_path(post),
                method: :delete,class:"btn btn-danger" %>
              </div>
            </div>
          </div>
        </div>
    </div>


<% end %>


