


<div class="col-md-9 text-center">

	<div class="card text-center">
	  <div class="card-header ">
	    <ul class="nav nav-tabs card-header-tabs justify-content-center">
	      <li class="nav-item">
					<%= link_to "Latest", posts_path(sort: "latest"), :class => 'nav-link active' %>
	      </li>
	      <li class="nav-item">
					<%= link_to "Title", posts_path(sort: "title"), :class => 'nav-link active' %>
				</li>
	      <li class="nav-item">
					<%= link_to "Oldest", posts_path(sort: "oldest"), :class => 'nav-link active' %>
	      </li>
	    </ul>


	  </div>

		<div class="card-body bg-dark">


				<% @posts.each do |post| %>

						<div class="card rounded w-75 my-3 mx-auto" >
							<h4 class="card-header"><%= post.title %></h4>
							<a href="/posts/<%= post.id %>">
								<img src="<%= post.img_url %>" class="card-img rounded mt-3 px-1">
							</a>

							<div class="card-body">
								<h5><%= post.id %></h5>
							</div>
							<div class="card-footer">
								<p class="card-text">
									<small class="text-muted">
										Posted <%= post.created_at %>
									</small>
								</p>

							</div>
						</div>

				 <% end %>


		</div>

	</div>
</div>