<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class="jumbotron jumbotron-fluid">
	<div class="container text-center">
 		<h1 class="display-4">(WD)Instagram</h1>

  	<p class="lead">My First Ruby On Rails App</p>

  	<a class="btn" href=<%= new_post_path %>><i class="fa fa-plus mybutton"></i></a>
	</div>
</div>

<div class="container">
	<div class="row">
		<% @posts.each do |post| %>
		<div class="col-4">
			<div class="card mb-3">
		  <h3 class="card-header"><%= post.title %></h3>
		  <div class="card-body">
		    <h5 class="card-title"><%= post.author_name %></h5>
		    <h6 class="card-subtitle text-muted"><%= post.mediatype %></h6>
		  </div>

		  <% if post.mediatype == "photo" %>
		  	<a href=<%= post_path(post) %>><img class="card-img" src="<%= image_path(post.photo_url) %>" alt="Card image"/></a>

		  <% elsif post.mediatype == "video" %>
		  	<iframe width="100%" height="200" src="<%= post.photo_url %>" frameborder="0" allowfullscreen></iframe>

		  <% elsif post.mediatype == "text" %>
		  	<div class="card-text2 text-center">
		  		<%= post.photo_url =%>
		  	</div>

		  <%end%>

		  <div class="card-body">
		    <p class="card-text"><%= post.caption %></p>
		  </div>

		  <div class="card-body">
		    <a href=<%= edit_post_path(post) %> class="card-link">Edit</a>
		    <a><%= link_to 'Delete', post_path(post),
		        method: :delete,
		        data: { confirm: 'Are you sure?' } %></a>
		  </div>
		  <div class="card-footer text-muted">
		    <%= post.created_at %>
		  </div>
			</div>
		</div>
		<% end %>
	</div>
</div>