<h1> Posts by Celebrities </h1>

<div>
	<%= link_to 'Add New Post', new_post_path %>
</div>

<% @posts.each do |post| %>
    <div>
      <p>
  			<%=post.name %>
			</p>
			<img src=<%=post.photo_url %> width="100" height="130" />
      <p> <%= link_to 'Show', post_path(post) %> <%= link_to 'Edit', edit_post_path(post) %> <%= link_to 'Delete', post_path(post),
        method: :delete,
        data: { confirm: 'Are you sure?' } %> </p>
    </div>
 <% end %>