<h2>Welcome to Index Page</h2>

<h2><%= link_to '🆕', new_post_path %></h2>

<table>
    <tr>
        <th>Author Name<a href="/posts/sort/author_name/asc">▲<a><a href="/posts/sort/author_name/desc">▼<a></th>
        <th>Photo URL</th>
        <th>Title<a href="/posts/sort/title/asc">▲<a><a href="/posts/sort/title/desc">▼<a></th>
        <th>Caption</th>
        <th>Created<a href="/posts/sort/created_at/asc">▲<a><a href="/posts/sort/created_at/desc">▼<a></th>
        <th></th>
    </tr>

    <% @posts.each do |post| %>
    <tr>
        <td><%= post.author_name %></td>
        <td><img src=<%= post.photo_url %> width="300"/></td>
        <td><%= post.title %></td>
        <td><%= post.caption %></td>
        <td><%= post.created_at %></td>
        <td><%= link_to 'Show', post_path(post) %> </td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Delete', post_path(post),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
</table>
