<h1>Listing articles</h1>

<%= link_to 'New Post', new_post_path %>

<table>
  <tr>
    <th>Author</th>
    <th>Photo</th>
    <th>Title</th>
    <th></th>
  </tr>

  <% @posts.each do |post| %>
    <tr>
      <td><%= post.author_name %></td>
      <td><%= image_tag(post.photo_url, height: '200', width: '200') %></td>
      <td><%= post.title %></td>
    </tr>
</table>
<div>
	<span><%= link_to 'Show', post_path(post) %></span>
	<span><%= link_to 'Edit', edit_post_path(post) %></span>
	<span><%= link_to 'Delete', post_path(post),
	  method: :delete,
	  data: { confirm: 'Are you sure?' } %></span>
</div>
  <% end %>