<% @posts.each do |post| %>
  <div class="card" style="width: 18rem; display: inline-block;">
    <img class="card-img-top" width="300" src=<%= post.photo_url %> alt=<%= post.title %>>
    <div class="card-body">
      <h3 class="card-title"><%= post.title %></h3>
      <p class="card-text"><%= post.author_name%></p>
      <%= link_to "Read More", post_path(post), :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
