<div class="containr">
	<h1 class="display-4 row justify-content-center">All Posts</h1>

	<nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
	  	<li class="breadcrumb-item mr-2">Sort By Date:</li>
	    <li class="mr-2"><a><%= link_to 'ASC', asc_post_path %></a> /</li>
	    <li><a href="#"><%= link_to 'DESC', desc_post_path %></a></li>
	  </ol>
	</nav>



  <% @post.each do |x| %>
		<div class="card text-center ml-auto mr-auto mb-5" style="width: 20rem;">
		  <img class="card-img-top" alt="image post" src=<%= x.photo_url %> >
		  <div class="card-body">
		    <h5 class="card-title"><%= x.title %></h5>
		    <blockquote class="blockquote mb-0">
		      <p><%= x.caption %></p>
		      <footer class="blockquote-footer">@<%= x.author_name %> on <cite title="Source Title"><%= x.updated_at %></cite></footer>
		    </blockquote>
		  </div>
		  <div class="card-body">
		    <a class="card-link"><%= link_to 'Show', post_path(x) %></a> |
				<a class="card-link"><%= link_to 'Edit', edit_post_path(x) %></a> |
				<a class="card-link"><%= link_to 'Delete', post_path(x),
		        method: :delete,
		        data: { confirm: 'Are you sure?' } %></a>
		  </div>
		</div>
  <% end %>

	<div class="row justify-content-center mb-5">
		<h2><%= link_to 'New Post', new_post_path %></h2>
	</div>


</div>