
<h1>InstaPosts</h1>

<% @posts.each do |element| %>
<div class="myPosts">
<h3><%= element.title %></h3>

<p><img src="https://imgur.com/a/J6v7JZT"> <%= element.url %></p>
<p><%= element.created_at %></p>
<p><%= element.description %></p>
<%= link_to "Select post", post_path(element), :class => 'btn btn-default' %>
</div>


<% end %>






