<h1>Posts Index Page</h1>

<%= link_to 'New Post', new_post_path %>

<table>
    <tr>
        <th>Title</th>
        <th>Photo URL</th>
        <th>Author Name</th>
        <th></th>
    </tr>

    <% @posts.each do |post| %>
        <tr>
            <td><%= post.title %></td>
            <td><%= post.photo_url %></td>
            <td><%= post.author_name %></td>
            <td><%= link_to 'Show', post_path(post) %></td>
        </tr>
    <% end %>
</table>