
<div class = "justify-content-around row align-items-end">

	<p><%= link_to 'New Photo', new_post_path %></p>
	<p><%= link_to 'New Video', new_video_path %></p>
	<p><%= link_to 'New Text', new_text_path %></p>
	<h1><a href = <%=root_path %>>Vibeygrammmm</a></h1>
	<p><%= link_to 'Home', root_path%></p>
	<p><%= link_to 'Latest', "#{root_path}?sort=date&order=desc"%></p>
	<p><%= link_to 'Earliest', "#{root_path}?sort=date&order=asc"%></p>

</div>


<div class = "card-group mt-2 mx-5">
		<% @posts.each do |post| %>
			 <% if post.class.name == "Post" %>
					<div class="card m-1">
						<a href = <%= post_path(post) %>>
							<img class ="index-thumbnail" src = <%= post.photo_url %>>
						<div class = "d-flex flex-column text-center">
							<p class = "font-weight-bold text-uppercase m-0"><%= post.title %><br></p>
						  <span class = "text-capitalize font-italic"><%= post.author_name %></span>
							</a>
						</div>
					</div>
					<% elsif post.class.name == "Video" %>
						<div class = "index-video border bg-white">
							<iframe width="420" height="315" class="embed-responsive-item" src=<%= post.video_url %> frameborder=0 allowfullscreen=""></iframe>
							<a href = <%= "/videos/#{post.id}" %>>
							<div class = "d-flex flex-column text-center">
							<p class = "font-weight-bold text-uppercase m-0"><%= post.title %><br></p>
						  <span class = "text-capitalize font-italic"><%= post.author_name %></span>
							</a>
						</div>
						</div>
						<% elsif post.class.name == "Text" %>
						<div class="card">
						  <div class="card-header">
						    <%= post.title %>
						  </div>
						  <div class="card-body">
						  	<a href = <%= "/texts/#{post.id}" %>>
						    <blockquote class="blockquote mb-0">
						      <p><%= post.caption %></p>
						      <footer class="blockquote-footer"><%= post.author_name %></footer>
						    </blockquote>
						  </a>
						  </div>
						</div>

				<% end %>
		<% end %>

</div>

</div>