<div class="header">
	<h1>WDInstagram</h1>
	<p>For all your FOMO needs</p>
</div>

<div class="nav">
	<%= link_to 'New post', new_post_path %>
</div>

<div>
  <% @posts.each do |post| %>
    <div>
    	<h4><%= post.author_name %></h4>
      <div><img src=<%= post.photo_url %> width=300 height=300></div>
      <h4><%= post.title %></h4>
      <div><%= post.caption %></div>
      <div class="navButtons">
				<%= link_to 'View Post', post_path(post) %>
				<%= link_to 'Edit', edit_post_path(post) %>
			</div>
    </div>
  <% end %>
</div>