<div class="middle_container"><h2><%= link_to 'NEW IMG POST', new_post_path %> | <%= link_to 'NEW VIDEO POST', new_video_path %> | <%= link_to 'NEW TEXT POST', new_text_path %></h2></div>

<table>
    <colgroup>
        <col class="w1">
        <col class="w2">
        <col>
        <col>
        <col>
    </colgroup>
    <tr>
        <th>Author Name<a href="/posts/sort/author_name/asc">🔺</a><a href="/posts/sort/author_name/desc">🔻</a></th>
        <th>Content</th>
        <th>Title<a href="/posts/sort/title/asc">🔺</a><a href="/posts/sort/title/desc">🔻</a></th>
        <th>Caption</th>
        <th>Created<a href="/posts/sort/created_at/asc">🔺</a><a href="/posts/sort/created_at/desc">🔻</a></th>
        <th></th>
    </tr>

    <% @posts.each do |post| %>
    <tr>
        <td><%= post.author_name %></td>
        <% if post.class.name == "Post" %>

            <td><img src= <%= post.photo_url %> width="400" /></td>

        <% elsif post.class.name == "Video" %>

            <td><iframe width="400" height="300" src=<%= post.video_url %> frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>

        <% else %>

            <td><mark> <%= post.text_msg %></mark></td>

        <% end %>

        <td><%= post.title %></td>
        <td><%= post.caption %></td>
        <td><%= post.created_at %></td>

        <% if post.class.name == "Post" %>

            <td><%= link_to 'SHOW', post_path(post) %> </td>
            <td><%= link_to 'EDIT', edit_post_path(post) %></td>
            <td><%= link_to 'DELETE', post_path(post),
            method: :delete,
            data: { confirm: 'DELETE IMAGE: Are you sure?' } %></td>

        <% elsif post.class.name == "Video" %>

            <td><%= link_to 'SHOW', video_path(post) %> </td>
            <td><%= link_to 'EDIT', edit_video_path(post) %></td>
            <td><%= link_to 'DELETE', video_path(post),
            method: :delete,
            data: { confirm: 'DELETE VIDEO: Are you sure?' } %></td>

        <% else %>

            <td><%= link_to 'SHOW', text_path(post) %> </td>
            <td><%= link_to 'EDIT', edit_text_path(post) %></td>
            <td><%= link_to 'DELETE', text_path(post),
            method: :delete,
            data: { confirm: 'DELETE TEXT MESSAGE: Are you sure?' } %></td>

        <% end %>

    </tr>
    <% end %>
</table>
