<%= form_with scope: :post, url: posts_path, local: true do |form| %>
  <p>
    <%= form.label :author_name %><br>
    <%= form.text_field :author_name %>
  </p>

  <p>
  	<label>Type</label><br>
  	<%= form.radio_button :type_of, 'photo' %> Photo<br />
  	<%= form.radio_button :type_of, 'video' %> Video<br />
  	<%= form.radio_button :type_of, 'text' %> Text<br />
  </p>

  <p>
    <%= form.label :media %><br>
    <%= form.text_field :media %>
  </p>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

   <p>
    <%= form.label :caption %><br>
    <%= form.text_area :caption %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>