
<%= image_tag(@image_url) %>


<%= form_with scope: :post, url: posts_path, local: true do |form| %>

	<div>
		<h3>Photo Url</h3>
		<%= form.text_field :photo_url %>
		<%= form.hidden_field :alt_url, :value => @image_url %>
	</div>

	<div>
		<h3>Caption</h3>
		<%= form.text_field :caption %>
	</div>

	<div>
		<h3>Author</h3>
		<%= form.text_field :author %>
	</div>

	<div>
		<h3>Date Taken (yyyy/mm/dd)</h3>
		<%= form.text_field :date_taken %>
	</div>

	<div>
		<%= form.submit %>
	</div>

<% end %>

<%= link_to 'Back', posts_path %>
