<div class="container">
    <div class="row">
        <h1 class="headings">Add Post</h1>
    </div>
    <div class="row">
        <%= form_for :post, url: posts_path do |f| %>
        <div class="form-group">
            <%= f.label :author %><br>
            <%= f.text_field :author %>
        </div>

        <div class="form-group">
            <%= f.label :photo_url %><br>
            <%= f.url_field :photo_url %>
        </div>

        <div class="form-group">
            <%= f.label :date_taken %><br>
            <%= f.datetime_field :date_taken %>
        </div>

        <%= f.collection_check_boxes :hashtag_ids, @hashtags, :id, :title %>

        <p>
            <%= f.submit({:class => 'btn btn-primary'}) %>
        </p>
        <% end %>
    </div>

    <div class="row">
        <%= link_to 'Back', posts_path %>
    </div>

</div>