
<div class="container">
    <div class="row">
        <h1>Add Post</h1>
    </div>
    <div class="row">
        <%= form_with model: @post do |form| %>

            <div>
                <%= form.label :author %><br>
                <%= form.text_field :author, {class: 'form-control'}%>
            </div>

            <div>
                <%= form.label :photo_url %><br>
                <%= form.text_area :photo_url, {class: 'form-control'} %>
            </div>

            <div>
                <%= form.label :Hashtags %><br>
                <%= form.collection_check_boxes :tag_ids, @tags, :id, :tag do |b| %>
                    <%= b.label class:"label-checkbox" do%>
                    <%=b.check_box + " " + b.text%>
                    <%end%>
                <% end %>
            </div>

            <div>
                <%= form.fields_for :tags, Tag.new do |tag| %>
                    <%= tag.text_field :tag, class: 'form-control', placeholder: "insert new #" %>
                <% end %>
            </div>
            <br>
            <p>
                <%= form.submit class: 'btn btn-primary'%>
            </p>
        <% end %>
    </div>

    <div class="row">
        <%= link_to 'Back', posts_path, class: 'btn btn-primary' %>
    </div>

</div>