<%= form_with scope: :post, url: posts_path, local: true do |form| %>
  <p>
    <%= form.label :Author_Name %><br>
    <%= form.text_field :author_name %>
  </p>

  <p>
    <%= form.label :Photo_URL %><br>
    <%= form.text_area :photo_url %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>