<%= form_with scope: :post, url: new_post_path, local: true do |form| %>
  <p>
    <%= form.label :Name %><br>
    <%= form.text_field :author_name %>
  </p>

  <p>
    <%= form.label :Photo_URL %><br>
    <%= form.text_field :photo_url %>
  </p>
  <p>
    <%= form.label :Title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.submit %>
  </p>

  <%= link_to 'Back', root_path %>
<% end %>