<%= form_with scope: :post, url: posts_path, local: true do |form| %>
  <p>
    <%= form.label :author_name, 'Author Name' %><br>
    <%= form.text_field :author_name %>
  </p>

  <p>
    <%= form.label :photo_url, 'Photo Url' %><br>
    <%= form.text_field :photo_url %>
  </p>

  <p>
    <%= form.label :title, 'Title' %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :caption, 'Caption' %><br>
    <%= form.text_field :caption %>
  </p>

  <p>
    <%= form.label :gif_url, 'Random GIF' %><br>
    <%= form.hidden_field :gif_url, :value => @result %>
    <%= image_tag(@result) %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>



<br/>

<%= link_to 'Back', root_path %>