<%= form_with scope: :post, url: posts_path, local: true do |form| %>
  <p>
    <%= form.label :author_name %><br>
    <%= form.text_field :author_name %>
  </p>

  <p>
    <%= form.label :photo_url %><br>
    <%= form.text_area :photo_url %>
    <%= check_box_tag(:random_gif,true) %>
    <%= label_tag(:random_gif, "Check for random Gif") %>
  </p>

  <p>
    <%= form.label :title %><br>
    <%= form.text_area :title %>
  </p>

  <p>
    <%= form.label :caption %><br>
    <%= form.text_area :caption %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', root_path %>