<nav>
  <%=link_to(image_tag("instagram.png"), posts_path, class: "logo")%>
  <h1 class="logogram">fakefriendsgram</h1>
  <p><%= link_to 'New post', new_post_path %></p>
  </nav>
<div>



<%= link_to 'Back', root_path %>


<p>

  <%= @post.author_name %>
</p>
  <img class="avatar" src=<%= @post.avatar_url %>></img>

  <img src=<%= @post.photo_url %>></img>
<h3><%= @post.likes %></h3>
<p>

  <%= @post.title %>
</p>
<p>

  <%= @post.caption %>
</p>
<p>
  <%= link_to 'Edit', edit_post_path(@post) %>
</p>
