<div class="container text-center">
	<h2>Title: <%=  @banana.title %></h2>

	<p>Author Name: <%= @banana.author_name %></p>

	<% if @banana.mediatype == "photo" %>
		<img class="post-img" src="<%= image_path(@banana.photo_url) %>" />
	<% elsif @banana.mediatype == "video" %>
		<iframe width="400" height="400" src="<%= @banana.photo_url %>" frameborder="0" allowfullscreen></iframe>
	<% elsif @banana.mediatype == "text" %>
		<div class="card-text2">
			<p><%= @banana.photo_url =%></p>
		</div>
	<%end%>


	<p>Type: <%= @banana.mediatype %></p>

	<p>Caption: <%= @banana.caption %></p>

	<%= link_to 'home', root_path %>

</div>