<p>
  <strong>Author:</strong>
  <%= @post.author %>
</p>
<p>
  <strong>Photo:</strong>
 <%= @post.photo %>
</p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
<%= link_to 'Back', root_path %>
<%= link_to 'Edit', edit_post_path(@post) %>
