<p>
  <strong>Author Name:</strong>
  <%= @post.author_name %>
</p>

<img src=<%= @post.photo_url %> width="500"/>


<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @post.caption %>
</p>

<h2><%= link_to 'ðŸ”™', root_path %><%= link_to 'âœï¸', edit_post_path(@post) %></h2>
