<p>
    <strong>Title:</strong>
    <%= @post.title %>
</p>

<p>
    <strong>Photo URL:</strong>
    <%= @post.photo_url %>
</p>

<p>
    <strong>Author Name:</strong>
    <%= @post.author_name %>
</p>

<%= link_to 'Back', root_path %>
<%= link_to 'Edit', edit_post_path %>