<h2>
  <%= @post.title %>
</h2>

<p>
  <small> posted by: <%= @post.author_name %>, <%= @post.updated_at || "recently" %></small>
</p>

<%= image_tag(@post.photo_url) %>

<p>
  <%= @post.caption %>
</p>

<p>
  <%= link_to 'Edit', edit_post_path %>
</p>

<p>
  <%= link_to 'Back', root_path %>
</p>
