<div class="container">

	<div class="row justify-content-center mt-5">
		<figure class="figure">
		  <img class="figure-img img-fluid rounded" alt="..." src=<%= @post.photo_url %> />
		  <figcaption class="figure-caption"><%= @post.title %></figcaption>
		</figure>
	</div>

	<blockquote class="blockquote text-center">
	  <p class="mb-0"><%= @post.caption %></p>
	  <footer class="blockquote-footer">@<%= @post.author_name %> on <cite title="Source Title"><%= @post.updated_at.to_date %></cite></footer>
	</blockquote>


	<div class="col mb-5">
		<%= link_to 'Edit', edit_post_path(@post) %> |
		<%= link_to 'Back', root_path %>
	</div>

</div>