<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Photo:</strong>
  <img src=<%= @post.photo_url %>>
</p>

<p>
  <strong>Author:</strong>
  <%= @post.author %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %>
<%= link_to 'Destroy', post_path(@post),
        method: :delete,
        data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', root_path %>