<p>
  <strong>Author Name:</strong>
  <%= @post.author_name %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @post.photo_url %>
</p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
<%= link_to 'Edit', edit_post_path(@post) %>
<%= link_to 'Back', root_path %>