<p>
  <strong>Author:</strong>
  <%= @post.author %>
</p>

<p>
<%=image_tag(@post.photo_url)%>
</p>

<p>
  <strong>Text:</strong>
  <%= @post.text %>
</p>
<%= link_to 'Edit', edit_post_path(@post) %>
<%= link_to 'Back', root_path %>