<div class="container">
	<h1>  Post <%= @post.id %>
</h1>
	<%= link_to 'Back', posts_path %>
<% if user_signed_in? == current_user %>
	<%= link_to 'Edit', edit_post_path(@post) %> |
	<%= link_to 'Log Out', destroy_user_session_url, method: :delete %>

	<% end %>

	<div class="card-img-top">
  <%= cl_image_tag(@post.photo_url) %>
</div>
<div class="card-body">
<p>
  <strong>  <%= @post.author %> </strong>
  <%= @post.caption %>
</p>

<p>
  <strong>Date:</strong>
  <%= @post.created_at.to_formatted_s(:short) %>
</p>

<p>
  <strong>Comments:</strong>
  <% @comment.each do |this| %>
				<p>
					<strong>
					<%= this.name %>:
				</strong>
				<%= this.text %>
			</p>
			<% if this.user_id == current_user.id %>

				<%= link_to 'Edit', edit_post_comment_path(@post, this) %>
				<%= link_to 'Delete', comment_path(this),
        method: :delete,
        data: { confirm: 'Are you sure?' } %>
        <% end %>
	<% end %>
</p>

<p>
<% @tags.each do |tag| %>
#<%= link_to tag.hashtag, tag_path(tag) %>
<% end %>
</p>

<% if user_signed_in? == current_user %>
<p>
	Edit hashtags:
	<%= form_with model: @post, local: true do |form| %>

  <%= form.collection_check_boxes :tag_ids, @alltags, :id, :hashtag %>
  <p>
  <%= form.submit value: 'update #'%>
  </p>
<% end %>
</p>
<% end %>

</div>

</div>
<div class="container">
<%= form_with scope: :comment, url: comments_path, local: true do |form| %>


  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name, value: nil %>
  </p>

  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>

	<%= form.hidden_field :post_id, value:@post.id %>

  <p>
    <%= form.submit %>
  </p>
<% end %>
</div>
