<p>
  <strong>Author:</strong>
  <%= @post.author %>
</p>
<p>
  <strong>Photo:</strong>
<img src="<%= @post.photo %>" height = "500px" width = "500px" />
</p>

<p>
  <strong>Caption:</strong>
  <%= @post.caption %>
</p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>


<%= link_to 'Back', root_path %>
<%= link_to 'Edit', edit_post_path(@post) %>
