<p>
  <h1>Author Name:</h1>
  <%= @post.author_name %>
</p>

<p>
  <h2>Photo URL:</h2>
  <%= @post.photo_url %>
</p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <h2>Created:</h2>
  <%= @post.created_at %>
</p>

<p>
  <strong>Updated:</strong>
  <%= @post.updated_at %>
</p>




<%= link_to 'Back', root_path %>
