<div class="container">
	<h1>  Post <%= @post.id %>
</h1>
	<%= link_to 'Back', posts_path %>
	<%= link_to 'Edit', edit_post_path(@post) %>

	<div class="card-img-top">
  <%= cl_image_tag(@post.photo_url) %>
</div>
<div class="card-body">
<p>
  <strong>  <%= @post.author %> </strong>
  <%= @post.caption %>
</p>

<p>
  <strong>Date:</strong>
  <%= @post.created_at.to_formatted_s(:short) %>
</p>

<p>
  <strong>Comments:</strong>
  <% @comment.each do |this| %>
				<p>
					<strong>
					<%= this.name %>:
				</strong>
				<%= this.text %></p>
						<%= link_to 'Edit', edit_post_comment_path(@comment) %>

		<% end %>
</p>


</div>
<p>

</p>
</div>
<div class="container">
<%= form_with scope: :comment, url: comments_path, local: true do |form| %>


  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name, value: nil %>
  </p>

  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>

	<%= form.hidden_field :post_id, value:@post.id %>

  <p>
    <%= form.submit %>
  </p>
<% end %>
</div>