<p>
  <strong>Author:</strong>
  <%= @post.author_name %>
</p>

<p>
  <%= image_tag(@post.photo_url, height: '200', width: '200') %>
</p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<%= link_to 'Back', root_path %>
<%= link_to 'Edit', edit_post_path(@post) %>