<h1>sortindex inputs</h1>
<%= @sort_column %>
<%= @sort_order %>


<table>

	<tr>
		<th>Author name</th>
		<th>Photo URL</th>
		<th>Title</th>
		<th>Captions</th>
	</tr>

	<% @posts.each do |post| %>
		<tr>
			<td><%= post.author_name %></td>
			<td><%= post.photo_url %></td>
			<td><%= post.title %></td>
			<td><%= post.captions %></td>
			<td><%= link_to 'Show', post_path(post) %></td>
			<td><%= link_to 'Edit', edit_post_path(post) %></td>
			<td><%= link_to 'Destroy', post_path(post), method: :delete, data: {confirm: 'Yasure?'} %></td>
		</tr>
	<% end %>

</table>
<%= link_to 'Back', root_path %>