<h1>Show text post</h1>

<p>
  <strong>Author Name:</strong>
  <%= @text.author_name %>
</p>

<p>
  <strong>Description</strong>
  <%= @text.description %>
</p>

<p>
  <strong>Title:</strong>
  <%= @text.title %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @text.caption %>
</p>

<%= link_to 'Edit', edit_text_path(@text) %>
<%= link_to 'Back', root_path %>