<!DOCTYPE html>
<html>
		<head>
		</head>
		<body>
				<div class ='container'>
						<br></br>
						<div class = 'col-8 offset-2'>
								<h3><%= image_tag("https://image.flaticon.com/icons/svg/1/1394.svg", size: "50x50")%> #Insta</h3>
						</div>
						<div class = 'col-8 offset-2'>
								<div class='row text-center'>
										<div class='col-4'>
												<p><%= link_to 'New post', new_instagram_posts_path %></p>
										</div>
										<div class='col-4'>
												<p><%= link_to 'New Video Post', new_instagram_videos_path %></p>
										</div>
										<div class='col-4'>
												<p><%= link_to 'New Text Post', new_instagram_texts_path %></p>
										</div>
								</div>
						</div>
						<div class='col-8 offset-2'>
								<div class='card'>
										<div class='card-header'>Feeds</div>
										<div class='card-body'>
												<% @instagram.each do |post| %>
														<div class='card-header'><%= post.name %></div>
														<div class='card-body>'>
																<% if post.category == 'post'%>
																		<h6><%= post.title %></h6>
																		<%= image_tag(post.image_url, size: "250x250")%>
																		<p>
																    	<%= post.caption %>
																    </p>
																    <div class = 'text-right'>
																    		<%= link_to 'Show', instagram_post_path(post) %> || <%= link_to 'Edit', edit_post_instagram_path(post) %> || <%= link_to 'Destroy', instagram_post_path(post), method: :delete, data: { confirm: 'Are you sure you want to delete the post?' } %>
																    </div>
																<% elsif post.category == 'video'%>
																		<h6><%= post.title %></h6>
																		<iframe width="400" height="250" src="https://www.youtube.com/embed/<%= post.video_key %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
																		<p>
																    		<%= post.caption %>
																    </p>
																    <div class = 'text-right'>
																   			<%= link_to 'Show', instagram_video_path(post) %> || <%= link_to 'Edit', edit_video_instagram_path(post) %> || <%= link_to 'Destroy', instagram_video_path(post), method: :delete, data: { confirm: 'Are you sure you want to delete this video?' } %>
																   	</div>
																<% else %>
																		<h4><%= post.title %></h4>
																		<p>
																    	<%= post.caption %>
																    </p>
																    <div class = 'text-right'>
																    		<p><%= link_to 'Show', instagram_text_path(post) %> || <%= link_to 'Edit', edit_text_instagram_path(post) %> || <%= link_to 'Destroy', instagram_text_path(post), method: :delete, data: { confirm: 'Are you sure you want to delete this text?' } %></p>
																    </div>
																<% end %>
																<br></br>
														</div>
												<% end %>
										</div>
								</div>
						</div>
				</div>
		</body>
</html>