<%= form_with scope: :instagram, url: instagrams_path, local: true do |form| %>
  <p>
    <%= form.label :Author %><br>
    <%= form.text_field :author %>
  </p>

  <p>
    <%= form.label :PhotoLink %><br>
    <%= form.text_area :photo_url %>
  </p>

  <p>
    <%= form.label :DateTaken %><br>
    <%= form.text_area :date_taken %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', instagrams_path %>