<h1>Add new text page</h1>

<%= form_with scope: :instagram_texts, url: instagrams_texts_path, local: true do |form| %>
	  <p>
	    <strong><%= form.label :name %></strong><br>
	    <%= form.text_field :name %>
	  </p>

	  <p>
	    <strong><%= form.label :title %></strong><br>
	    <%= form.text_field :title %>
	  </p>

	  <p>
	    <strong><%= form.label :text %></strong><br>
	    <%= form.text_area :text %>
	  </p>

	  <p>
	    <%= form.submit :'post text'%>
	  </p>
<% end %>

<%= link_to 'Back', root_path %>