<h3> <%= @instagram_indiv.name %> </h3>

	<%= image_tag(@instagram_indiv.image_url, size: "250x250")%>

<p>
  <strong><%=@instagram_indiv.name %></strong>
  <%= @instagram_indiv.caption %>
</p>

<p><%= link_to 'Edit', edit_post_instagram_path(@instagram_indiv) %> || <%= link_to 'Destroy', instagram_post_path(@instagram_indiv), method: :delete, data: { confirm: 'Are you sure you want to delete this post?' } %></p>

<p><%= link_to 'Back', root_path %></p>