<%= form_with scope: :post, url: post_path, local: true do |form| %>
  <div class="form-group">
    <%= form.label :title, for: 'newtitle', value: 'Title' %>
    <%= form.text_field :title, id: 'newtitle', class: 'form-control' %>
  </div>

  <p>
    <%= form.label :caption %><br>
    <%= form.text_area :caption %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>