<!DOCTYPE html>
<html>
  <head>
    <title>WDInstagramRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Pacifico|Satisfy" rel="stylesheet">

<!--     <%= stylesheet_link_tag 'application' 'https://fonts.googleapis.com/css?family=Pacifico|Marck+Script' %>

 -->

  </head>

  <body>
    <%= yield %>
  </body>
</html>