<!DOCTYPE html>
<html>
  <head>
    <title>WDInstagramRails</title>
    <%= %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-default bg-dark">
      <a class="navbar-brand" href="#">WDInstagram</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="nav navbar-nav mr-auto">
          <li class="nav nav-item">
            <a class="nav-link"><%= link_to "Home", root_path %></a>
          </li>
          <li class="nav nav-item">
            <a class="nav-link"><%= link_to "Create Post", new_post_path %></a>
          </li>
        </ul>
      </div>
    </nav>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
