<!DOCTYPE html>
<html>
  <head>
    <title>WDInstagramRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "WDinstagram", home_path, :class => 'navbar-brand' %>
    <%= link_to "New Post", new_post_path, :class => 'nav-link' %>
    <%= yield %>
  </body>
</html>