<!DOCTYPE html>
<html>
  <head>
    <title>WDInstagramRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag "/style.css" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to 'WDInstagram', root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="nav navbar-nav">
          <% if user_signed_in? %>
            <li class="nav-item active">
              <a class="nav-link" href="/posts">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <%= link_to 'New Post', new_post_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Hashtags', tags_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'New Hashtag', new_tag_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'log out', destroy_user_session_url, method: :delete, class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'log in', new_user_session_url, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
