<!DOCTYPE html>
<html>
  <head>
    <title>WDInstagramRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<nav class="navbar navbar-inverse">
  	      <div class="container">
  	        <div class="navbar-header">
  	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
  	            <span class="sr-only">Toggle navigation</span>
  	            <span class="icon-bar"></span>
  	            <span class="icon-bar"></span>
  	            <span class="icon-bar"></span>
  	          </button>
  	          <a class="navbar-brand" href="#">Instagram for poor</a>
  	        </div>
  	        <div id="navbar" class="collapse navbar-collapse">
  	          <ul class="nav nav-pills">
  	            <li role="presentation"><%= link_to "Home", home_path %></li>
  	            <li role="presentation"><%= link_to "About", home_path %></li>
  	            <li role="presentation"><%= link_to "Policies", home_path %></li>
  	            <ul class="nav nav-pills navbar-right">
  	            <li role="presentation"><%= link_to "Create Post", new_post_path %></li>
  	          </ul>
  	          </ul>

  	        </div><!--/.nav-collapse -->
  	      </div>
  	    </nav>

  	<div class="container">
    <%= yield %>
  </div>

  </body>
</html>
