<!DOCTYPE html>
<html>
  <head>
    <title>Instagram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%=link_to(image_tag("instagram.png"), posts_path, class: "logo")%>
      <%=link_to posts_path, class: "logogram" do%>
          <h1>Instagram</h1>
        <%end%>
      <!-- <h1 class="logogram">Instagram</h1> -->
      <p><%= link_to 'New post', new_post_path %></p>
      </nav>
    <div>
    <%= yield %>
  </body>
</html>
