<!DOCTYPE html>
<html>
  <head>
    <title>WDInstagramRails</title>
    <style>
        a {
            color: black;
        }
        a:link {
            text-decoration: none;
            color: black;
        }
    </style>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <h1>WDInstagram_rails</h1>
    <%= yield %>
  </body>
</html>
