

<html>
<head>
  <head>
    <title>WDInstagramRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
</head>
<body>

    <div class="headbar">
            <%= link_to 'WDInstagram', root_path, class:"headbar-link" %>
    </div>
    <div class="main-page-container">
        <%= yield %>
    </div>

</html>